@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #828282;
}

h1 {
  font-size: clamp(1.75rem, 7vw, 2.5rem);
}

h2 {
  font-size: clamp(1.25rem, 3.5vw, 1.65rem);
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

.nav {
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
  -webkit-box-shadow: rgba(105, 105, 105, 0.253) 0 1px 3px;
          box-shadow: rgba(105, 105, 105, 0.253) 0 1px 3px;
  font-size: clamp(0.4rem, 10vw, 1.2rem);
  padding: 0 10rem;
  background: #000;
}

@media only screen and (max-width: 1280px) {
  .nav {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 460px) {
  .nav {
    padding: 0 1rem;
  }
}

.nav .kecsa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav .kecsa a {
  color: #ff1818;
  font-size: 1.4rem;
  font-family: "Alfa Slab One", cursive;
}

.nav .kecsa .logo {
  width: 130px;
  height: 30px;
}

@media only screen and (max-width: 940px) {
  .nav .kecsa {
    display: none;
  }
}

.nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.4rem;
  font-size: 1.1rem;
}

.nav .links a::after {
  content: "";
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
}

.nav .links a {
  position: relative;
}

.nav .links a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media only screen and (max-width: 940px) {
  .nav .links {
    opacity: 0;
    height: 70vh;
    width: 100vw;
    top: 0;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    padding: 100px 0;
    left: -1000px;
    background-color: #161616e5;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .nav .links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.3rem;
  }
  .nav .links a:hover {
    border: none;
  }
}

.nav .bid {
  text-align: center;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  word-break: keep-all;
  font-size: clamp(0.75rem, 3vw, 1rem);
  white-space: nowrap;
}

@media only screen and (max-width: 940px) {
  .nav .bid {
    margin-right: auto;
  }
}

.nav .bid a {
  border-radius: 6rem;
  color: #fff;
  padding: 0.65rem 1.2rem;
  background: #ff0000;
  border: 2px solid red;
  font-weight: bold;
}

.nav .bid a:hover {
  color: #ff0000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  background: transparent;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

@media only screen and (max-width: 460px) {
  .nav .bid a {
    padding: 0.5rem 1rem;
  }
}

.nav .menu-icon {
  cursor: pointer;
  z-index: 5;
  display: none;
  font-size: clamp(1.5rem, 7vw, 2rem);
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  padding: .75rem .75rem 1.75rem 1.75rem;
  background: red;
  border-radius: 0 0 0 100%;
  /* &::after {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background: red;
            border: 2px solid red;
            padding: 3rem;
            transform: translate(50%, -50%);
            border-radius: 0 0 0 50%;
            &:hover{
                padding:20rem;
            }
        } */
}

@media only screen and (max-width: 940px) {
  .nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav .active {
  opacity: 1;
  left: 0;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.nav a {
  text-decoration: none;
}

.about {
  padding: 1rem clamp(0.75rem, 10vw, 15rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .grid {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  place-items: center;
      grid-template-areas: "p1 p1 img1" "img2 p2 p2" "p3 p3 p3";
  grid-gap: 1rem;
}

@media only screen and (max-width: 860px) {
  .about .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "p1" "img1" "p2" "img2" "p3";
  }
}

.about .grid .p1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p1;
}

.about .grid .p2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: p2;
}

.about .grid .p3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: p3;
}

.about .grid .img1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img1;
}

.about .grid .img2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img2;
}

.about h1 {
  text-align: center;
  margin: 1rem 0;
}

.about h2 {
  padding: 0 0 1rem 0;
}

.about h3 {
  color: #c7c7c7;
}

.about p {
  font-size: 1.1rem;
  line-height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .img {
  height: 30vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .img img {
  width: 100%;
  height: 100%;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.about .h2 {
  margin: 2rem 0 1rem 0;
}

.about .grid_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  grid-gap: clamp(1rem, 6vw, 3rem);
}

.about .grid_2 ul p {
  font-size: clamp(1.1rem, 3vw, 1.55rem);
  font-weight: bold;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about .grid_2 ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  font-size: .9rem;
}

.about .grid_2 .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .grid_2 .line div {
  width: 1px;
  height: 80%;
  background-color: rgba(136, 136, 136, 0.226);
}

.about .kepek {
  margin: 3rem 0 0 0;
  font-size: clamp(1.1rem, 2.5vw, 1.2rem);
  width: 90vw;
  text-align: center;
}

.about .fa-instagram {
  font-size: 2rem;
  margin: 0.25rem;
  color: #888;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.about .fa-instagram:hover {
  color: rgba(255, 0, 0, 0.774);
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.home {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  padding: 0 3rem;
}

@media only screen and (max-width: 570px) {
  .home {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.home h2 span {
  color: #FF0000;
}

.equipment {
  padding: 3rem clamp(2rem, 15vw, 10rem);
}

.equipment h1 {
  margin: 0 0 1rem 0;
}

.equipment h1,
.equipment h2 {
  text-align: center;
}

.equipment .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.equipment .items .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3rem 1fr;
      grid-template-rows: 3rem 1fr;
  text-align: center;
  margin: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: rgba(209, 209, 210, 0.302) 0px 1px 2px 0px, rgba(209, 209, 210, 0.302) 0px 1px 3px 1px;
          box-shadow: rgba(209, 209, 210, 0.302) 0px 1px 2px 0px, rgba(209, 209, 210, 0.302) 0px 1px 3px 1px;
  padding: 1rem 1rem 2rem 1rem;
  height: 45vh;
  width: 15vw;
  position: relative;
  grid-gap: 0.75rem;
  padding: 1rem;
}

.equipment .items .item:hover {
  outline: rgba(255, 0, 0, 0.609) solid 2px;
}

.equipment .items .item .img {
  position: relative;
}

.equipment .items .item .img img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  height: 90%;
}

.equipment .items .item::after {
  color: #828282;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  padding: 0 0 0.1rem 0.5rem;
}

.equipment .items .item:nth-child(1)::after {
  content: "2x";
}

.equipment .items .item:nth-child(2)::after {
  content: "2x";
}

.equipment .items .item:nth-child(3)::after {
  content: "1x";
}

.equipment .items .item:nth-child(4)::after {
  content: "1x";
}

.equipment .items .item:nth-child(5)::after {
  content: "1x";
}

.equipment .items .item:nth-child(6)::after {
  content: "2x";
}

.equipment .items .item:nth-child(7)::after {
  content: "2x";
}

.equipment .items .item:nth-child(8)::after {
  content: "2x";
}

.equipment .items .item:nth-child(9)::after {
  content: "1x";
}

.equipment .items .item:nth-child(10)::after {
  content: "1x";
}

.equipment .items .item:nth-child(11)::after {
  content: "1x";
}

.equipment .items .item:nth-child(12)::after {
  content: "1x";
}

@media only screen and (max-width: 1170px) {
  .equipment {
    padding: 2rem;
  }
  .equipment .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .equipment .items .item {
    width: 80%;
  }
}

@media only screen and (max-width: 873px) {
  .equipment {
    padding: 3rem;
  }
  .equipment .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  .equipment .items .item {
    height: 32vh;
  }
}

@media only screen and (max-width: 680px) {
  .equipment {
    padding: 1rem;
  }
  .equipment .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .equipment .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .equipment .items .item {
    height: 40vh;
    grid-gap: 0.15rem;
  }
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #dadada;
}

:-ms-input-placeholder {
  color: #dadada;
}

::-ms-input-placeholder {
  color: #dadada;
}

::placeholder {
  color: #dadada;
}

.bidding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bidding h1 {
  padding: 2rem;
}

.bidding form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(40vw + 3.5rem);
  min-height: 50vh;
  gap: 1rem;
  padding: 1rem 0;
}

@media only screen and (max-width: 1050px) {
  .bidding form {
    width: calc(80vw + 3.5rem);
  }
}

.bidding form .date {
  color: #fff;
}

.bidding form input,
.bidding form textarea {
  width: 80%;
  height: 5vh;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 0 .5px red;
          box-shadow: 0 0 0 .5px red;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.267);
}

.bidding form input:focus,
.bidding form textarea:focus {
  -webkit-box-shadow: 0 0 0 2px red;
          box-shadow: 0 0 0 2px red;
}

.bidding form textarea {
  resize: none;
  min-height: 20vh;
  line-height: 25px;
}

.bidding form button {
  cursor: pointer;
  font-size: clamp(1rem, 4vw, 1.3rem);
  background: red;
  color: #fff;
  border: 2px solid red;
  padding: 0.8rem 1.3rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.bidding form button:hover {
  color: red;
}

.bidding form button:hover::after {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: skewX(-45deg) scale(1, 1);
          transform: skewX(-45deg) scale(1, 1);
}

.bidding form button::after {
  content: "";
  background: #111111;
  position: absolute;
  z-index: -1;
  padding: 1rem 1.5rem;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  left: -35%;
  right: -35%;
  top: 0;
  bottom: 0;
  -webkit-transform: skewX(-45deg) scale(0, 1);
          transform: skewX(-45deg) scale(0, 1);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70vh;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.contact h1 {
  padding: 2rem 0;
}

.contact i {
  font-size: clamp(1.25rem, 3vw, 2rem);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact a {
  text-decoration: none;
}

.contact .icons {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  cursor: pointer;
}

.contact .icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}

.contact .icons .icon p {
  font-size: clamp(1rem, 3vw, 1.2rem);
}

.contact .icons .icon:hover i {
  color: #f63636;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.contact .bottom {
  margin: 3rem 0 0 0;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.3rem);
}

@media only screen and (max-width: 460px) {
  .contact .bottom {
    text-align: left;
  }
}
/*# sourceMappingURL=Main.css.map */