.home{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3rem;
    padding: 0 3rem;
    @media only screen and(max-width:570px){
        align-items: flex-start;
    }
    h2{
        span{
            color:#FF0000;
        }
    }
}