.equipment {
    padding: 2rem 10rem;
    padding: 2rem clamp(2rem, 15vw, 10rem);
    h1,
    h2 {
        text-align: center;
        padding: 2rem 0;
        .item {
            display: grid;
            grid-template-rows: 20% 80%;
            grid-template-rows: 3rem 1fr;
            text-align: center;
            margin: 1rem;
            border-radius: 5px;
            box-shadow: hsla(210, 6%, 35%, 0.302) 0px 1px 2px 0px, hsla(206, 6%, 35%, 0.149) 0px 1px 3px 1px;
            padding: 0.75rem;
            height: 30vh;
            width: clamp(7rem, 15vw, 25rem);
            box-shadow: hsla(240, 1%, 82%, 0.302) 0px 1px 2px 0px, hsla(240, 1%, 82%, 0.302) 0px 1px 3px 1px;
            padding: 1rem 1rem 2rem 1rem;
            position: relative;
            grid-gap: 0.75rem;
            padding: 1rem;
            .img {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    height: .1px;
                    width: 100%;
                    left: 0;
                    margin: 1rem 0;
                    background: white;
                }
                img {
                    position: relative;
                    object-fit: contain;
                }
            }
        }
    }
    @media only screen and (max-width: 1170px) {
        padding: 2rem;
    }
}